/*
input {
  display: block;
  margin: auto;
  align-items: center;
  width: 100px;
  height: 20px;
}

button {
  display: block;
  margin: auto;
  align-items: center;
  width: 100px;
  height: 20px;
} */